.vscode
Ignored*
Trash*
gdm-test.zsh

/test/*
!/test/gdm.zsh
!/test/packTest.zsh
!/test/gdm_parseConfigTest.zsh
!/test/gdm_expandDestinationTest.zsh

Implementation_Notes.md

# draw.io special files:
*.drawio.bkp
*.drawio.dtmp